body {
    background-color: darkgray;
    font-family: 'Permanent Marker', cursive;
}

.logo {
    color: 	#FFFFE0;
    filter: drop-shadow(0 0 0.75rem black);
    font-size: 30px;
   
}

.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    background: transparent;
}
/* homepage nav bar */
.navbar {
    background: url("../images/sharing.jpg") no-repeat center fixed;
    padding: 340px 140px 20px 140px;
}
.nav {
    font-size: 30px; 
    filter: drop-shadow(0 0 0.75rem black);
}

.navbar a:hover {
    color: 	#bedcaa;
  }

.nav > li > a:hover{
    background: transparent;
}

a {
    color:	#FFFFE0;
    text-decoration: none;
    filter: drop-shadow(0 0 0.75rem black);
}

/* recipe nav bar */
.recipes {
    background: url("../images/cookbooks.jpg") no-repeat center fixed;
    padding: 340px 140px 20px 140px;
}
.submissionForm {
    padding: 40px;
    padding: 40px;
}

.carousel {
    padding-top: 40px;
    padding-bottom: 40px;
}

